.activities-container {
  display: inline-flex;
  flex-direction: column;

  *:not(:last-child) {
    margin-bottom: 1rem;
  }

  * {
    border-radius: 0.8rem;
  }

  .clear-complete {
    cursor: pointer;
    &:hover {
      color: rgb(8, 122, 208);
    }
  }
}
